body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/*navbar */
header.navegador {
  background-color: #04444c;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-infodis{
  background-color: white;
  position: relative;
  height: 60px;
  width: auto;
}

.nav-bar nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar nav ul li {
  position: relative;
  padding: 10px 20px;
  color: #fff;
}

.nav-bar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-bar nav ul li:hover {
  background-color: #03656a;
}

.nav-bar nav ul li > a {
  font-weight: bold;
}

/* Submenú */
.nav-bar nav ul li ul {
  display: none;
  position: absolute;
  background-color: #03656a;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  min-width: 150px;
}

.nav-bar nav ul li:hover > ul {
  display: block;
}

.nav-bar nav ul li ul li {
  padding: 10px;
}

.nav-bar nav ul li ul li a {
  color: #fff;
}

.nav-bar nav ul li ul li a:hover {
  background-color: #02504b;
}

/* Estilos del contenedor */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

/*carrusel*/
.carrusel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.slides {
  display: flex;
  animation: deslizar 60s infinite;
}

.slide {
  min-width: 100%;
  height: 500px; 
  padding: 20px;
  text-align: left; 
  background-color: #04444c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  background-size: cover; 
  background-position: center; 
  padding-left: 40px; 
  padding-right: 40px; 
}

/* Títulos y párrafos */
.slide h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.slide p {
  font-size: 18px; 
  line-height: 1.5;
  max-width: 600px; 
}

.tittle-banner{
  color: white;
}
/* Fondo para cada uno :carrusel */
#inicio-infodis {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
                    url(https://infodisperu.com/images/slider_1.jpg?a4c3a74c79c4ed5aa3593ad24aa70fb9);
}

#instituciones {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
                    url(https://infodisperu.com/images/banner_1.jpg?8afd129437a5f4d5115a5b5d2777467b);
}

#servicios {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
                    url(https://infodisperu.com/images/banner_3.jpg?f83cfa6bdb6ed37bec64e4f69f314165);
}

/* Animación*/
@keyframes deslizar {
  0% {
      transform: translateX(0);
  }
  33.33% {
      transform: translateX(-100%);
  }
  66.66% {
      transform: translateX(-200%);
  }
  100% {
      transform: translateX(0);
  }
}


/*botones*/
.btn-carrusel{
  color: black;
  background-color: #e1c75c;
  border-color: #e1c75c;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 20px;
}

/*bienvenida*/
.logo-infodis-bvd{
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 39.5%;
  height: 55px;
}

.tittle-bvd{
  font-size: 36px;
  margin: 15px 400px;
  text-align: justify;
  color: black;
}
.txt-bvd{
  font-size: 20px;
  margin: 15px 400px;
  text-align: center;
  text-align: justify;
}

/*objetivos*/
.container-obj h2 {
  color: #333;
  font-size: 24px;
}
.container-obj {
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
}
.objective {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.number {
  font-size: 40px;
  font-weight: bold;
  color: #03656a;
  position: absolute;
  left: 0;
}
.text {
  font-size: 18px;
  color: #333;
  margin-left: 60px;
}
.objective:nth-child(odd) {
  margin-left: 20px;
}
.objective:nth-child(even) {
  margin-left: 60px;
}

/*¿como lo haremos?*/
h2 {
  color: #f4b400;
  font-size: 28px;
  font-weight: bold;
}
.container-clh {
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 45%;
  min-width: 300px;
  text-align: center;
}
.card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.card p {
  font-size: 16px;
  color: #666;
}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

/*colaboradores*/
.carrusel-container {
  position: relative;
  width: 1000px;
  height: 200px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.carrusel-colab {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%;
  padding: 10px;
}

.slide-colab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 0 100%;
}

.carrusel-colab img {
  width: 500px; 
  height: auto;
  padding: 80px 750px;
  margin-top: 50px;
}

#btn-car {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 22px;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots-container {
  text-align: center;
  margin-top: 15px;
}

.dot {
  height: 14px;
  width: 14px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}


/*footer*/
.invt-f {
  background-color: #2e3037;
  color: white;
  padding: 25px 100px;
  font-size: 15px;
  text-align: left;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txt-f {
  margin: 0;
  max-width: 60%;
}

.btn-footer {
  display: inline-block;
  gap: 10px;
  margin-top: auto;
}

.btn-footer button {
  width: 200px; 
}

.btn-footer button a {
  text-decoration: none;
  color: black;
}

.btn-f {
  background-color: #e1c75c;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  text-align: center;
}
